Host *
	IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

Host mansell
User op://dev/mansell/username
HostName op://dev/mansell/ip
Port op://dev/mansell/ssh_port

Host gitserver
User op://dev/mansell/username
HostName op://dev/mansell/ip
Port op://dev/mansell/ssh_port

